{% extends "UserAdminBundle::layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="panel-heading">
                    <h3 class="panel-title">Forgot your password?</h3>
                </div>
                <div class="panel-body">
                    <h3>Please enter your email and we will fix it.</h3>
                    {{ form_start(form) }}
                        <fieldset>
                            <div class="form-group">
                                {{ form_widget(form.email, {attr:{'class':'form-control', 'autofocus':'autofocus', 'placeholder':'E-mail'}}) }}
                                {{ form_errors(form.email) }}
                            </div>
                            <input type="submit" name="send" value="Send" class="btn btn-sm btn-success" />
                            <a class="pull-right" href="{{ path('admin_security_login') }}"><small>already have an account? login here</small></a>
                        </fieldset>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}